    <div id="header">
        <div class="head">
            <div class="logo-topzone">
                <a href="">
                    <img src="/design/img/logo-topzone-1.png" alt="">
                </a>
                <a href="" class="premium-apple">
                    <i class="fa-brands fa-apple"></i>
                </a>
            </div>
            <ul class="menu">
                <li>
                    <a>iPhone</a>
                </li>
                <li>
                    <a>Mac</a>
                </li>
                <li>
                    <a>iPad</a>
                </li>
                <li>
                    <a>Watch</a>
                </li>
                <li>
                    <a>Âm Thanh</a>
                </li>
                <li>
                    <a>Phụ kiện</a>
                </li>
                <li>
                    <a>TekZone</a>
                </li>
                <li>
                    <a>TopCare</a>
                </li>
            </ul>
            <div class="search-cart">
                <div class="search-ic">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <a href="#" class="cart-ic">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </div>
        <div class="clear"></div>

    </div>